parameters:
	dynamicConstantNames:
		- LANGUAGE_DIR
		- LANGUAGE_FILE_NAME
		- DEFAULT_LANGUAGE
		- ROOT
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: 8
	paths:
		- src
		- config
		- tests/bootstrap.php
		- tests/TestCases
	tmpDir: temp