includes:
	- services.php
parameters:
	constants:
		debug: true
	cache:
		path: '%constants.tempDir%cache.db'
		journal: '%constants.tempDir%journal.db'
	templating:
		tmpPath: '%constants.tempDir%latte/'
	config:
		cacheDir: %constants.tempDir%
extensions:
	search: Nette\DI\Extensions\SearchExtension(%constants.tempDir%)
	caching: Nette\Bridges\CacheDI\CacheExtension(%constants.tempDir%)
services:
	app: Lsr\Core\App
	translations: Lsr\Core\Translations

	menu.builder: Lsr\Core\Menu\MenuBuilder
	links.generator: Lsr\Core\Links\Generator

	config:
		create: Lsr\Core\Config::getInstance(%config.cacheDir%)
		setup:
			- init()
	session:
		create: \Lsr\Core\Session::getInstance()
		setup:
			- init()
	cache.storage: Nette\Caching\Storages\SQLiteStorage(%cache.path%)
	caching.journal: Nette\Caching\Storages\SQLiteJournal(%cache.journal%)
	cache: Lsr\Core\Caching\Cache(@cache.storage, null, %constants.debug%)
	cache.extension.latte: Nette\Bridges\CacheLatte\CacheExtension(@cache.storage)
	templating.latte.extension:
		create: Lsr\Core\Templating\LatteExtension()
		tags:
			- templating
	templating.latte.translatorExtension:
		create: Lsr\Core\Templating\TranslatorExtension(@translations)
		tags:
			- templating
	templating.latte.engine:
		create: Latte\Engine()
		setup:
			- setTempDirectory(%templating.tmpPath%)
			- addExtension(@templating.latte.extension)
			- addExtension(@templating.latte.translatorExtension)
			- addExtension(@cache.extension.latte)
		tags:
			- templating
	templating.latte:
		create: Lsr\Core\Templating\Latte(@templating.latte.engine)
		tags:
			- templating

	symfony.normalizer.datetime: Lsr\Core\Serializer\Normalizer\DateTimeNormalizer
	symfony.normalizer.dibiRow: Lsr\Core\Serializer\Normalizer\DibiRowNormalizer
	mapper: Lsr\Core\Mapper
search:
	controllers:
		in: '%constants.appDir%src/Controllers'
		extends:
			- Lsr\Core\Controllers\Controller
			- Lsr\Core\Controllers\ApiController
		tags:
			- controllers